


header, footer {
    background-color: rgb(34, 63, 29);
    color: white;
    height: 10em;
}

header, footer, main {
    padding: 0 5 0 5em;
    text-align: center;
}

section {
    padding: 5em;
}

div {
    display: inline-block;
    margin: 0 5em 0 5em;
}

img {
    max-height: 15em;
    max-width: 15em;
}

li {
    color: rgb(40, 40, 40);
    font-size: 1.1em;
    margin: .5em;
}
